body {
	margin:0 auto;
	width: 322px;
}

.animal-description {
	padding-bottom: 10px;
}

.animal-image {
	border: 1px solid;
	border-radius: 10px;
}

.animal-name {
	font-size: 20px;
}

.card {
	background-color: #d6f7e3;
	border: 1px solid #83e8ac;
	border-radius: 10px;
	box-shadow: 6px 5px 5px #eee;
	font-family: "Helvetica Neue", Helvetica, sans-serif;
	font-size: 12px;
	line-height: 15px;
	padding: 0 10px;
}

.card-intro {
	font-style: italic;
}

.facts-list {
	padding: 0;
	list-style-type: none;
}

.fact-item {
	font-weight: bold;
}

.facts-box {
	background-color: #fff;
	border: 1px solid #83e8ac;
	border-radius: 10px;
	margin: 10px 0;
	padding: 0 10px;
	width: 280px;
}

